<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us - Footwear Company</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="..\static\css\about.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script> 
        $(function(){
          $("#footer").load("footer.html"); 
        });
        </script> 

</head>
<main>
<body>
    <h2>About Us</h2>
    <img src="../static/img/location.jpg" alt="Map of location" class="right-image">
    <p>We are a footwear company that specialises in creating comfortable and stylish shoes for people of all ages. Our mission is to provide our customers with high-quality footwear that they can wear all day long without any discomfort or pain.</p>
    <p>Our shoes are made using the finest materials and the latest technology to ensure that they are not only comfortable but also durable and long-lasting. We offer a wide range of styles and colors to suit every taste and occasion.</p>
    <p>At !Sketchers, we are committed to providing excellent customer service. Our friendly and knowledgeable staff are always available to answer any questions or concerns you may have about our products.</p>
    <p>Thank you for choosing Footwear Company for your footwear needs. We look forward to serving you.</p>
</main>

<footer>
    <div id="footer"></div>
</footer>

</body>
</html>