<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" th:href="@{/css/admin.css}" />
        <title>Admin | SoleSource</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
        <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon" />
        <script th:src="@{/js/jquery.min.js}"></script>
        <script>
            $(function() {
              $("#navbar").load("/nav");
            });
            $(function(){
              $("#footer").load("/footer");
            });
        </script>
    </head>
    <body>
        <div id="navbar"></div>
        <main>
            <nav>
                <div id="mySidebar" class="sidebar">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <a class="sideButtonContainer" href="/admin">
                        <div class="sideButtonContainer">
                            <img th:src="@{/img/adminDashboardImg.svg}" class="sideButtonContainer">
                            <p class="sideButtonContainer">DASHBOARD</p>
                        </div>
                    </a>
                    <a class="sideButtonContainer" href="/admin/sales">
                        <div class="sideButtonContainer">
                            <img th:src="@{/img/adminSalesImg.svg}" class="sideButtonContainer">
                            <p class="sideButtonContainer">SALES</p>
                        </div>
                    </a>
                    <a class="sideButtonContainer" href="/admin/products">
                        <div class="sideButtonContainer">
                            <img th:src="@{/img/adminProductsImg.svg}" class="sideButtonContainer">
                            <p class="sideButtonContainer">PRODUCTS</p>
                        </div>
                    </a>
                    <a class="sideButtonContainer" href="/admin/add">
                        <div class="sideButtonContainer">
                            <img th:src="@{/img/adminStockImg.svg}" class="sideButtonContainer">
                            <p class="sideButtonContainer">ADD</p>
                        </div>
                    </a>
                </div>
                <div id="main">
                    <button class="openbtn" onclick="openNav()">☰</button>
                </div>
                <script>
                    function openNav() {
                        document.getElementById("mySidebar").style.width = "13vw";
                        document.getElementById("main").style.marginLeft = "13vw";
                    }

                    function closeNav() {
                        document.getElementById("mySidebar").style.width = "0";
                        document.getElementById("main").style.marginLeft = "0";
                    }
                </script>
 
            </nav>

                <h1>
                    Hello <span th:text="${loggedInUser.getCustomerForeName()}" />
                </h1>

            <p>
                There are currently <span th:text="${lowStockProducts.size()}" /> products due for restocking.
            </p>

            <table th:if="${lowStockProducts.size() > 0}">
                <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Product Code</th>
                    <th>Stock Count</th>
                </tr>
                <tr th:each="product : ${lowStockProducts}">
                    <td><img id="tableImage" th:src="@{${product.productImageFilePath}}" /></td>
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.productId}"></td>
                    <td th:text="${product.stockCount}"></td>
                </tr>
            </table>
        </main>
        <!--Footer-->
        <div id="footer"></div>
    </body>
</html>
