<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" th:href="@{/css/admin.css}" />
        <title>Admin | SoleSource</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
        <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon" />
        <script th:src="@{/js/jquery.min.js}"></script>
        <script>
            $(function() {
              $("#navbar").load("/nav");
            });
            $(function(){
              $("#footer").load("/footer");
            });
        </script>
    </head>
    <body>
        <div id="navbar"></div>
        <main>
            <!--Side Bar/Page Title-->
            <nav>
                <div id="mySidebar" class="sidebar">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <a class="sideButtonContainer" href="#">
                        <div class="sideButtonContainer">
                            <img th:src="@{/img/adminDashboardImg.svg}" class="sideButtonContainer">
                            <p class="sideButtonContainer">DASHBOARD</p>
                        </div>
                    </a>
                    <a class="sideButtonContainer" href="#">
                        <div class="sideButtonContainer">
                            <img th:src="@{/img/adminSalesImg.svg}" class="sideButtonContainer">
                            <p class="sideButtonContainer">SALES</p>
                        </div>
                    </a>
                    <a class="sideButtonContainer" href="#">
                        <div class="sideButtonContainer">
                            <img th:src="@{/img/adminStockImg.svg}" class="sideButtonContainer">
                            <p class="sideButtonContainer">STOCK</p>
                        </div>
                    </a>
                    <a class="sideButtonContainer" href="#">
                        <div class="sideButtonContainer">
                            <img th:src="@{/img/adminProductsImg.svg}" class="sideButtonContainer">
                            <p class="sideButtonContainer">PRODUCTS</p>
                        </div>
                    </a>
                </div>
                <div id="main">
                    <button class="openbtn" onclick="openNav()">☰</button>
                </div>
                <script>
                    function openNav() {
                      document.getElementById("mySidebar").style.width = "13vw";
                      document.getElementById("main").style.marginLeft = "13vw";
                    }
                    
                    function closeNav() {
                      document.getElementById("mySidebar").style.width = "0";
                      document.getElementById("main").style.marginLeft = "0";
                    }
                </script>
            </nav>
            <!--Admin Table-->
            <div class="filter"></div>
            <table>
                <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Product Code</th>
                    <th>Stock Count</th>
                    <th>Edit</th>
                </tr>
                </div>
                <tr>
                    <td><img id="tableImage" src="img/Productimg.png" /></td>
                    <td>Women</td>
                    <td>056789</td>
                    <td>!Sketchers Air</td>
                    <td><button id="updateButton">UPDATE</button></td>
                </tr>
                <tr>
                    <td><img id="tableImage" src="img/Productimg.png" /></td>
                    <td>Men</td>
                    <td>098785</td>
                    <td>!Sketchers Pro</td>
                    <td><button id="updateButton">UPDATE</button></td>
                </tr>
                <tr>
                    <td><img id="tableImage" src="img/Productimg.png" /></td>
                    <td>Women</td>
                    <td>065968</td>
                    <td>!Sketchers Pro</td>
                    <td><button id="updateButton">UPDATE</button></td>
                </tr>
                <tr>
                    <td><img id="tableImage" src="img/Productimg.png" /></td>
                    <td>Men</td>
                    <td>078356</td>
                    <td>!Sketchers Catch</td>
                    <td><button id="updateButton">UPDATE</button></td>
                </tr>
            </table>
        </main>
        <!--Footer-->
        <div id="footer"></div>
    </body>
</html>