<!DOCTYPE html>
<html>
    <head>
        <title>Basket Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/basket.css">
        <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">
        <script src="../static/js/products.js" async></script>
    </head>
    <body>
        <div class="mainHeading">
            <h1 class="mainHeading">Your Basket</h1>
        </div>
        <div class="secondaryHeading">
            <h2 class="secondaryHeading">Number of Items | Total Price</h2>
        </div>
        <div class="basketContainer">
            <div class="imageContainer">
                <img class="imageContainer" src="../static/img/temp-image-1.png" alt="Image Placeholder Text">
            </div>
            <div id="productContainer">
                <div id="productHeadingContainer">
                    <h1 id="productHeading">!Sketchers</h1>
                </div>
                <div id="wrapperContainer">
                    <div class="titleContainer">
                        <p class="titleContainer">Men's</p>
                        <p class="titleContainer">Size</p>
                        <p class="titleContainer">Quantity</p>
                    </div>
                    <div class="resultContainer">
                        <p class="resultContainer">£100</p>
                        <p class="resultContainer">UK8</p>
                        <p class="resultContainer">1</p>
                    </div>
                    <div class="buttonsContainer">
                        <button class="buttonsContainer"></button>    
                    </div>
                </div>
            </div>
        </div>
        <div class="lineContainer">
            <hr class="lineContainer">
        </div>
        <div id="finalContainer">
            <div class="totalContainer">
                <h1 class="totalContainer">Total: £100</h1>
            </div>
            <div class="checkoutContainer">
                <button class="checkoutContainer">Continue to Checkout</button>
            </div>
        </div>
    </body>
</html>