<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Basket Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/basket.css}">
        <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">
        <script th:src="@{/js/products.js}" async></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
        <script th:inline="javascript">
        /* Load footer.html using jQuery */
        $(function(){
            $("#footer").load("footer.html");
        });
        </script>
    </head>

    <body>
        <main>
        <div class="mainHeading">
            <h1 class="mainHeading">Your Basket</h1>
        </div>
        <div class="secondaryHeading">
            <h2 class="secondaryHeading">Number of Items | Total Price</h2>
        </div>
        <div class="basketContainer">
            <!-- <div class="imageContainer">
                <img class="imageContainer" src="../static/img/temp-image-1.png" alt="Image Placeholder Text">
            </div> -->
            <div id="productContainer">
                <!-- <div id="productHeadingContainer">
                    <h1 id="productHeading">!Sketchers</h1>
                </div> -->
                <!-- <div id="wrapperContainer">
                    <div class="titleContainer" id="titleContainer">
                        <p class="titleContainer" id="itemTitle">Men's</p>
                        <p class="titleContainer" id="sizeTitle">Size</p>
                        <p class="titleContainer" id="quantityTitle">Quantity</p>
                    </div>
                    <div class="resultContainer" id="resultContainer">
                        <p class="resultContainer" id="priceResult">£100</p>
                        <p class="resultContainer" id="sizeResult">UK8</p>
                        <p class="resultContainer" id="quantityResult">1</p>
                    </div>
                    <div class="buttonsContainer">
                        <button class="buttonsContainer"></button>    
                    </div>
                </div> -->
            </div>
        </div>
        <div class="lineContainer">
            <hr class="lineContainer">
        </div>
        <div id="finalContainer">
            <!-- <div class="totalContainer">
                <h1 class="totalContainer">Total: £100</h1>
            </div> -->
            <div class="checkoutContainer">
                <button class="checkoutContainer">Continue to Checkout</button>
            </div>
        </div>
    </main>
    <footer>
        <div id="footer"></div>
    </footer>
    </body>
</html>