<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <link rel="stylesheet" href="..\static\css\home.css">
</head>
<body>
    <div class="main-display-box">
        <div class="display-paragraph">
            <p>Step Into Comfort,</p>
            <p id="green-color">Stay In Style.</p>
            <center><button>Buy Now</button></center>
            
        </div>
        <div class="display-image">
            <img src="..\static\img\homeshoe.JPG" alt="homeshoe">
        </div>
    </div>

    <div class="trending-container">
        <div>
            <p>Trending This Week</p>
        </div>
        
        <div class="trending-product-imgs">
            <img src="..\static\img\homeshoe.JPG" alt="">
            <img src="..\static\img\homeshoe.JPG" alt="">
            <img src="..\static\img\homeshoe.JPG" alt="">
        </div>
    </div>
    <div class="trending-container collection-container">
        <div>
            <p>Collections</p>
        </div>
        
        <div class="collection-container-div">
            <div class="collection-container-mini">
                <img src="homeshoe.jpeg" alt="">
                <button>SHOP MEN</button>
            </div>
            <div class="collection-container-mini">
                <img src="homeshoe.jpeg" alt="">
                <button>SHOP WOMEN</button>
            </div>
            
            
        </div>
    </div>
