<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Home | SoleSource</title>
        <link rel="stylesheet" th:href="@{/css/home.css}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

$(function() {

$("#navbar").load("/nav");

});

</script> 
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
        
        <script th:inline="javascript">
        $(function(){
            $("#footer").load("footer.html");
        });
        </script> 
    </head>
    <body>
        <main>
            <div id="navbar"></div> 
            <div class="main-display-box">
                <div class="display-paragraph">
                    <p>Step Into Comfort,</p>
                    <p id="green-color">Stay In Style.</p>
                    <center><button>Buy Now</button></center>
                </div>
                <div class="display-image">
                    <img th:src="@{/img/homeshoe.JPG}" alt="homeshoe">
                </div>
            </div>
            <div class="trending-container">
                <div>
                    <p>Trending This Week</p>
                </div>
                <div class="trending-product-imgs">
                    <img th:src="@{/img/homepage2.jpg}" alt="homeshoe">
                    <img th:src="@{/img/trending4.jpg}" alt="homeshoe">
                    <img th:src="@{/img/trending5.jpg}" alt="homeshoe">
                </div>
            </div>
            <div class="trending-container collection-container">
                <div>
                    <p>Collections</p>
                </div> 
                <div class="collection-container-div">
                    <div class="collection-container-mini">
                        <img th:src="@{/img/homepmen.jpg}" alt="">
                        <button>SHOP MEN</button>
                    </div>
                    <div class="collection-container-mini">
                        <img th:src="@{/img/homepagewomen.jpg}" alt="">
                        <button>SHOP WOMEN</button>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <footer>
        <div id="footer"></div>
    </footer>
</html>
