<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Login | SoleSource</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="stylesheet" th:href="@{/css/login.css}">
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
        <script>
        $(function() {
            $("#navbar").load("/nav");
        });
        </script>
        <script th:inline="javascript">
        /* Load footer.html using jQuery */
        $(function(){
            $("#footer").load("/footer");
        });
        </script>
        </head>
        <body>
        <div id="navbar"></div>
        <!--Login Section--> 
        <div class="column">
            <h1>Login</h1>
            <form method="post" th:action="@{/login}">
                <div class="collection">
                    <input type="text" id="fname" name="email" placeholder="Email..."required>
                    <label for="fname"></label>
                </div>

                <div class="collection">
                    <input type="password" id="lname" name="password" placeholder="Password..."required>
                    <label for="lname"></label>
                </div>
                <div class="collection">
                    <button type= "login" > Login </button>
                </div>
            </form>
            <div class="Register">
            <a th:href="@{/signup}" style="color:#ffffff;">Haven't got an account? Register Here</a>
            </div>
        </div>
        <footer>
            <div id="footer"></div>
        </footer>
    </body>
</html>