<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Log In Page</title>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css}"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js}"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
    <script th:inline="javascript">
        $(function () {
            $("#footer").load("/footer");
        });
    </script>
</head>


<body>
    <main>

        <div class="login col col-lg-4 ">
            <div class="button-box">
                <div id="btn">
                </div>
            </div>
            <h1 class="text-center">Log In</h1>
            <form id="login" class="needs-validation">
                <div class="form-group">
                    <label class="form-label" for="email">Email address</label>
                    <input class="form-control" type="email" id="email" required>
                </div>


                <div class="form-group">
                    <label class="form-label" for="Password">Password</label>
                    <input class="form-control" type="password" id="password" required>
                    <div class="invalid-feedback">
                        Please enter your password
                    </div>
                </div>

                <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" id="check">
                    <label class="form-check-label" for="check">Remember me</label>
                </div>
                <input class="btn btn-success w-100" type="submit" value="SIGN IN">

                <li><a href="#signup.html">need to create an account?</a></li>

                
            </form>

    </main>
    <footer>
        <div id="footer"></div>
    </footer>
</body>

</html>