<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <script th:src="@{/js/products.js}" async></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
    <script th:inline="javascript">

    $(function() {

    $("#navbar").load("/nav");

    });
        $(function(){
            $("#footer").load("/footer");
        });
    </script>
    <title>Products | SoleSource</title>
    
</head>
<body>
    <div id="navbar"></div>
    <main>
    <!-- Product page header -->
    <div class="products-header">
        <h1 class="products-header">Free Shipping And 30-Day Return</h1>
    </div>

    <div class="products-banner">
        
    </div>    

    <!-- Product page container -->
    <div class="product-container">
        <!-- Sidebar to filter the categories -->
        <div class="product-filter-sidebar">
            <h2>View All</h2>

            <!-- Shoe Sizes -->
            <div class="product-sidebar-categories">
                <h3>Size</h3>
            </div>
            <div class="product-sidebar-subcategories">
                <select class="filter-buttons">

                    <option class="filter-buttons">All Sizes</option>
                    <option class="filter-buttons">UK 5</option>
                    <option class="filter-buttons">UK 6</option>
                    <option class="filter-buttons">UK 7</option>
                    <option class="filter-buttons">UK 8</option>
                    <option class="filter-buttons">UK 9</option>
                    <option class="filter-buttons">UK 10</option>
                
                </select>
            </div>

            <br>

            <!-- Price -->
            <div class="product-sidebar-categories">
                <h3>Price</h3>
            </div>
            <div class="product-sidebar-subcategories">

                <select class="filter-buttons" id="filter-price">
                    
                    <option class="filter-buttons" value="all">All Prices</option>
                    <option class="filter-buttons" value="0-50">£0 - £50</option>
                    <option class="filter-buttons" value="50-100">£50 - £100</option>
                    
                </select>
            </div>

            <br>

            <!-- Men or Women -->
            <div class="product-sidebar-categories">
                <h3>Gender</h3>
            </div>
            <div class="product-sidebar-subcategories">
                <select class="filter-buttons">

                    <option class="filter-buttons">Both</option>
                    <option class="filter-buttons">Men</option>
                    <option class="filter-buttons">Women</option>
                
                </select>
            </div>
        </div>

        <!-- Products section -->
        <div class="products">
            <div class="container">
                <div th:each="product : ${products}" class="product-cell">
                    <!-- Product Information -->
                    <div class="product-img">
                        <img class="product-img" id="product-image" th:src="@{${product.productImageFilePath}}" alt="Placeholder Image">
                    </div>
                    <div class="product-info">
                        <h2 class="product-info" th:text="${product.productName}" id="product-name"></h2>
                        <p class="product-info" th:text="${product.gender}" id="gender"></p>
                        <p class="product-info" th:text="${product.productCategory}" id="colour"></p>
                        <p class="product-info" th:text="${product.shoeSize}" id="shoe-size"></p>
                        <br>
                        <p class="product-info" th:text="'£' + ${product.productPrice}" id="product-price"></p>
                        <br>
                        <div class="basket-btn">
                            <button class="add-to-basket-btn basket-button">Add To Basket</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="top-picks">
        <div class="top-picks-heading">
            <h1>Our Top Picks</h1>
        </div>

        <div id="images-container">
            <div class="top-pick-container">
                <img class="top-pick-container" th:src="@{/img/football-boots-5.jpg}" alt="">
                <h2 class="top-pick-container">SoleSource Football Boots 5</h2>
                <p class="top-pick-container">Men's</p>
                <p class="top-pick-container">Football Boots</p>
                <p class="top-pick-container">UK 5</p>
                <br>
                <p id="price"><b>£94.00</b></p>
            </div>

            <div class="top-pick-container">
                <img class="top-pick-container" th:src="@{/img/football-boots-3.jpg}" alt="">
                <h2 class="top-pick-container">SoleSource Football Boots 3</h2>
                <p class="top-pick-container">Men's</p>
                <p class="top-pick-container">Football Boots</p>
                <p class="top-pick-container">UK 8</p>
                <br>
                <p id="price"><b>£90.00</b></p>
            </div>

            <div class="top-pick-container">
                <img class="top-pick-container" th:src="@{/img/football-boots-1.jpg}" alt="">
                <h2 class="top-pick-container">SoleSource Football Boots 1</h2>
                <p class="top-pick-container">Men's</p>
                <p class="top-pick-container">Football Boots</p>
                <p class="top-pick-container">UK 8</p>
                <br>
                <p id="price"><b>£67.00</b></p>
            </div>
        </div>
    </div>
</main>
<footer>
    <div id="footer"></div>
</footer>
</body>
</html>