<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\products.css">
    <script src="../static/js/products.js" async></script>
    <title>Products | !Sketchers</title>
</head>
<body>
    <!-- Product page header -->
    <div class="products-header">
        <h1>Free Shipping And 30-Day Return</h1>
    </div>

    <div class="products-banner">
        <h1><b id="men-label">Men</b><b id="women-label">Women</b></h1>
    </div>    

    <!-- Product page container -->
    <div class="product-container">
        <!-- Sidebar to filter the categories -->
        <div class="product-filter-sidebar">
            <h2>View All</h2>

            <!-- Shoe Sizes -->
            <div class="product-sidebar-categories">
                <h3>Size</h3>
            </div>
            <div class="product-sidebar-subcategories">
                <button class="filter-buttons" id="size5-btn">UK 5</button>
                <button class="filter-buttons" id="size6-btn">UK 6</button>
                <br>
                <br>
                <button class="filter-buttons" id="size7-btn">UK 7</button>
                <button class="filter-buttons" id="size8-btn">UK 8</button>
                <br>
                <br>
                <button class="filter-buttons" id="size9-btn">UK 9</button>
                <button class="filter-buttons" id="size10-btn">UK 10</button>
            </div>

            <br>

            <!-- Price -->
            <div class="product-sidebar-categories">
                <h3>Price</h3>
            </div>
            <div class="product-sidebar-subcategories">
                <button class="filter-buttons" id="fifty-to-hundred-pounds-btn">£50 - £100</button>
                <br>
                <br>
                <button class="filter-buttons" id="hundred-to-twohundred-pounds-btn">£100 - £200</button>
            </div>

            <br>

            <!-- Men or Women -->
            <div class="product-sidebar-categories">
                <h3>Gender</h3>
            </div>
            <div class="product-sidebar-subcategories">
                <button class="filter-buttons" id="men-btn">Men</button>
                <br>
                <br>
                <button class="filter-buttons" id="women-btn">Women</button>
            </div>
        </div>

        <!-- Products section -->
        <div class="products">
            <div class="container">
                <div class="product-cell">
                    <!-- NOTE: The !Sketchers Logo Image is used as a placeholder image but will be changed to shoe images -->
                    <div class="product-img">
                        <img class="product-img" src="../static/img/flip-flops-shoe-1.jpg" alt="Placeholder Image">
                    </div>
                    <div class="product-info">
                        <h2 class="product-info">!Sketchers Air</h2>
                        <p class="product-info">Women's</p>
                        <p class="product-info">1 Colour</p>
                        <br>
                        <p class="product-info"><b>£120</b></p>
                        <br>
                        <div class="basket-btn">
                            <a href="basket.html"><button class="add-to-basket-btn">Add To Basket</button></a>
                        </div>
                    </div>
                </div>

                <div class="product-cell">
                    <!-- NOTE: The !Sketchers Logo Image is used as a placeholder image but will be changed to shoe images -->
                    <div class="product-img">
                        <img class="product-img" src="../static/img/flip-flops-shoe-2.jpg" alt="Placeholder Image">
                    </div>
                    <div class="product-info">
                        <h2 class="product-info">!Sketchers Air</h2>
                        <p class="product-info">Women's</p>
                        <p class="product-info">1 Colour</p>
                        <br>
                        <p class="product-info"><b>£120</b></p>
                        <br>
                        <div class="basket-btn">
                            <a href="basket.html"><button class="add-to-basket-btn">Add To Basket</button></a>
                        </div>
                    </div>
                </div>

                <div class="product-cell">
                    <!-- NOTE: The !Sketchers Logo Image is used as a placeholder image but will be changed to shoe images -->
                    <div class="product-img">
                        <img class="product-img" src="../static/img/flip-flops-shoe-3.jpg" alt="Placeholder Image">
                    </div>
                    <div class="product-info">
                        <h2 class="product-info">!Sketchers Air</h2>
                        <p class="product-info">Women's</p>
                        <p class="product-info">1 Colour</p>
                        <br>
                        <p class="product-info"><b>£120</b></p>
                        <br>
                        <div class="basket-btn">
                            <a href="basket.html"><button class="add-to-basket-btn">Add To Basket</button></a>
                        </div>
                    </div>
                </div>

                <div class="product-cell">
                    <!-- NOTE: The !Sketchers Logo Image is used as a placeholder image but will be changed to shoe images -->
                    <div class="product-img">
                        <img class="product-img" src="../static/img/flip-flops-shoe-4.jpg" alt="Placeholder Image">
                    </div>
                    <div class="product-info">
                        <h2 class="product-info">!Sketchers Air</h2>
                        <p class="product-info">Women's</p>
                        <p class="product-info">1 Colour</p>
                        <br>
                        <p class="product-info"><b>£120</b></p>
                        <br>
                        <div class="basket-btn">
                            <a href="basket.html"><button class="add-to-basket-btn">Add To Basket</button></a>
                        </div>
                    </div>
                </div>

                <div class="product-cell">
                    <!-- NOTE: The !Sketchers Logo Image is used as a placeholder image but will be changed to shoe images -->
                    <div class="product-img">
                        <img class="product-img" src="../static/img/flip-flops-shoe-5.jpg" alt="Placeholder Image">
                    </div>
                    <div class="product-info">
                        <h2 class="product-info">!Sketchers Air</h2>
                        <p class="product-info">Women's</p>
                        <p class="product-info">1 Colour</p>
                        <br>
                        <p class="product-info"><b>£120</b></p>
                        <br>
                        <div class="basket-btn">
                            <a href="basket.html"><button class="add-to-basket-btn">Add To Basket</button></a>
                        </div>
                    </div>
                </div>

                <div class="product-cell">
                    <!-- NOTE: The !Sketchers Logo Image is used as a placeholder image but will be changed to shoe images -->
                    <div class="product-img">
                        <img class="product-img" src="../static/img/football-boots-1.jpg" alt="Placeholder Image">
                    </div>
                    <div class="product-info">
                        <h2 class="product-info">!Sketchers Air</h2>
                        <p class="product-info">Women's</p>
                        <p class="product-info">1 Colour</p>
                        <br>
                        <p class="product-info"><b>£120</b></p>
                        <br>
                        <div class="basket-btn">
                            <a href="basket.html"><button class="add-to-basket-btn">Add To Basket</button></a>
                        </div>
                    </div>
                </div>

                <div class="product-cell">
                    <!-- NOTE: The !Sketchers Logo Image is used as a placeholder image but will be changed to shoe images -->
                    <div class="product-img">
                        <img class="product-img" src="../static/img/football-boots-2.jpg" alt="Placeholder Image">
                    </div>
                    <div class="product-info">
                        <h2 class="product-info">!Sketchers Air</h2>
                        <p class="product-info">Women's</p>
                        <p class="product-info">1 Colour</p>
                        <br>
                        <p class="product-info"><b>£120</b></p>
                        <br>
                        <div class="basket-btn">
                            <a href="basket.html"><button class="add-to-basket-btn">Add To Basket</button></a>
                        </div>
                    </div>
                </div>

                <div class="product-cell">
                    <!-- NOTE: The !Sketchers Logo Image is used as a placeholder image but will be changed to shoe images -->
                    <div class="product-img">
                        <img class="product-img" src="../static/img/football-boots-3.jpg" alt="Placeholder Image">
                    </div>
                    <div class="product-info">
                        <h2 class="product-info">!Sketchers Air</h2>
                        <p class="product-info">Women's</p>
                        <p class="product-info">1 Colour</p>
                        <br>
                        <p class="product-info"><b>£120</b></p>
                        <br>
                        <div class="basket-btn">
                            <a href="basket.html"><button class="add-to-basket-btn">Add To Basket</button></a>
                        </div>
                    </div>
                </div>

                <div class="product-cell">
                    <!-- NOTE: The !Sketchers Logo Image is used as a placeholder image but will be changed to shoe images -->
                    <div class="product-img">
                        <img class="product-img" src="../static/img/football-boots-4.jpg" alt="Placeholder Image">
                    </div>
                    <div class="product-info">
                        <h2 class="product-info">!Sketchers Air</h2>
                        <p class="product-info">Women's</p>
                        <p class="product-info">1 Colour</p>
                        <br>
                        <p class="product-info"><b>£120</b></p>
                        <br>
                        <div class="basket-btn">
                            <a href="basket.html"><button class="add-to-basket-btn">Add To Basket</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="top-picks">
        <div class="top-picks-heading">
            <h1>Our Top Picks</h1>
        </div>

        <div id="images-container">
            <div class="top-pick-container">
                <img class="top-pick-container" src="../static/img/football-boots-5.jpg" alt="">
                <h2 class="top-pick-container">!Sketchers Air</h2>
                <p class="top-pick-container">Women's</p>
                <p class="top-pick-container">1 Colour</p>
                <br>
                <p id="price"><b>£95</b></p>
            </div>

            <div class="top-pick-container">
                <img class="top-pick-container" src="../static/img/flip-flops-shoe-4.jpg" alt="">
                <h2 class="top-pick-container">!Sketchers Air</h2>
                <p class="top-pick-container">Women's</p>
                <p class="top-pick-container">1 Colour</p>
                <br>
                <p id="price"><b>£95</b></p>
            </div>

            <div class="top-pick-container">
                <img class="top-pick-container" src="../static/img/football-boots-2.jpg" alt="">
                <h2 class="top-pick-container">!Sketchers Air</h2>
                <p class="top-pick-container">Women's</p>
                <p class="top-pick-container">1 Colour</p>
                <br>
                <p id="price"><b>£95</b></p>
            </div>
        </div>
    </div>
</body>
</html>