<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Orders | SoleSource</title>
    <link rel="stylesheet" th:href="@{/css/userorder.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script th:inline="javascript">
        $(function() {
            $("#navbar").load("/nav");
        });
    </script>
</head>
<body>
    <div id="navbar"></div>
    <table class="order-table">
        <tr class="order-tr">
            <th class="order-th">Order ID</th>
            <th class="order-th">Product Name</th>
            <th class="order-th">Quantity</th>
            <th class="order-th">Order Date</th>
            <th class="order-th">Order Status</th>
        </tr>
        <tr th:each="order : ${orders}" class="order-tr">
            <td class="order-td"><p th:text="${order.order_ID}"></p></td>
            <td class="order-td"><p th:text="${order.product_Name}"></p></td>
            <td class="order-td"><p th:text="${order.quantity}"></p></td>
            <td class="order-td"><p th:text="${order.order_Date}"></p></td>
            <td class="order-td"><p th:text="${order.orderStatus}"></p></td>
        </tr>
    </table>
</body>
</html>