<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <title>Admin | SoleSource</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script>
        $(function () {
            $("#navbar").load("/nav");
        });
        $(function () {
            $("#footer").load("/footer");
        });
    </script>
</head>
<body>
<div id="navbar"></div>
<main>
    <!--Side Bar/Page Title-->
    <div th:replace="admin :: nav"></div>

    <div class="box">
        <div class="form">
            <h2>Add new product</h2>
            <form method="post" th:action="@{/admin/add}">
                <div class="inputbox">
                    <input type="text" name="productName" required="required">
                    <span>Product name</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="text" name="productCategory" required="required">
                    <span>Category</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="text" name="productPrice" required="required">
                    <span>Price</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="number" name="productStockCount" required="required">
                    <span>Stock Count</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="url" name="productImageFilePath" required="required">
                    <span>Image file path</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <select name="gender" required="required">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Both">Both</option>
                        <option value="Other">Other</option>
                    </select>
                    <span>Gender</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input type="number" name="shoeSize" required="required">
                    <span>Shoe size</span>
                    <i></i>
                </div>
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
</main>
<!--Footer-->
<div id="footer"></div>
</body>
</html>