img {
 width: 50%;
 height: auto;
 float: right;
}
 *{
    background-color: rgb(54, 52, 52);
 }

 p {
    color: white;
    font-size: 5vw;
    text-align: center;
    width: 50%;
    position: absolute;
    top:50%;
    text-align: justify;
 }