* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

/* Header for the products page */
.products-header {
    text-align: center;
    background-color: rgb(8, 142, 8);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.products-header h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Search bar to search products */
.search-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.searchbar {
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
}

.searchbar input[type=search] {
    margin: auto;
    display: block;
    width: 1300px;
    padding: 9px;
    margin-top: 8px;
    margin-right: 16px;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 17px;
}

/* Sidebar for the products page to filter out products */
.product-filter-sidebar {
    height: 100%;
    width: 200px;
    position: relative;
    left: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 15%;
    background-color: rgb(8, 142, 8);
    overflow-x: hidden;
    border: 2.5px solid black;
}

.product-filter-sidebar .product-sidebar-subcategories {
    background-color: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

.product-filter-sidebar .product-sidebar-subcategories label {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-weight: bold;
}

.product-filter-sidebar .product-sidebar-categories {
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
}