* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

/* Header for the products page */
.products-header {
    text-align: center;
    background-color: rgb(8, 142, 8);
    color: white;
    padding-top: 30px;
    padding-bottom: 100px;
}

.products-header h1 {
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 22px;
}

/* Sidebar for the products page to filter out products */
.product-filter-sidebar {
    height: 100%;
    width: 300px;
    position: relative;
    left: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 15%;
    background-color: rgb(66, 66, 66);
    overflow-x: hidden;
    border: 2.5px solid black;
}

.product-filter-sidebar h2 {
    color: white;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.product-filter-sidebar .product-sidebar-subcategories {
    background-color: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

.product-filter-sidebar .product-sidebar-subcategories label {
    padding-left: 15px;
    padding-right: 10px;
    color: white;
    font-weight: bold;
}

.product-filter-sidebar .product-sidebar-categories {
    background-color: rgb(66, 66, 66);
    color: white;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid white;
}