body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
h1 {
	margin: 0;
	font-size: 36px;
}
main {
	padding: 20px;
	max-width: 100%;
}
.content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.text-container {
	background-color: #f2f2f2;
	padding: 20px;
	box-sizing: border-box;
	flex-basis: calc(100% - 500px);
	text-align: justify;
}
.right-image {
    padding: 20px;
	margin: left;
	max-width: 100%;
	flex-basis: 200px;
    object-position: top;
}
p {
	font-size: 20px;
	margin-bottom: 20px;
}
.box {
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 20px;
}
h2{
    font-size: 100px;
}
ul{
    font-size: 20px;
}