* {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  background-color: #1d5f00;
  align-self: center;
  height: fit-content;
  padding-top: 1.4vh;
  padding-bottom: 1vh;
  width: 100vw;
}

div.sidebar {
  display: flex;
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  flex-direction: column;
  padding-top: 5vh;
}

a.sidebar {
  display: flex;
  padding: 0.5vw 0.5vw 0.5vw 1.45vw;
  text-decoration: none;
  font-size: 1vw;
  color: white;
  transition: 0.3s;
  word-wrap: break-word;
}

a.sidebar:hover {
  color: #1d5f00;
}

.sidebar .closebtn {
  display: flex;
  position: absolute;
  overflow: hidden;
  top: 0.75vh;
  right: 1.25vw;
  font-size: 2vw;
  color: white;
}

.openbtn {
  display: flex;
  overflow: hidden;
  font-size: 1.5vw;
  cursor: pointer;
  background-color: #1d5f00;
  color: rgb(249, 244, 244);
  border: none;
  margin-left: 1.5vw;
  padding: 0;
  height: fit-content;
}

.openbtn:hover {
  background-color: #1d5f00;
}

#main {
  display: flex;
  transition: margin-left 0.5s;
  overflow: hidden;
  align-self: center;
}

.heading {
  text-align: center;
  color: white;
}

.filter {
  text-align: center;
}

table {
  display: flex;
  width: 100vw;
  height: fit-content;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-direction: column;
}

tr {
  display: flex;
  width: 100vw;
  height: fit-content;
  justify-content:space-evenly;
}

th {
  display: flex;
  background: #404040;
  color: white;
  justify-content: space-evenly;
  padding: 0.4vh;
  width: 14.28%;
  height: fit-content;
  text-align: left;
  font-size: 1vw;
  padding-top: .5vw;
  padding-bottom: .5vw;
}

td {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width:14.28%;
  text-align: left;
  font-size: 1vw;
  margin-top: 1vh;
  font-weight: 500;
  margin-bottom: 1vh;
}

.rows:after {
  content: "";
  display: table;
  clear: both;
}

#tableImage{
  display: flex;
  width: 8.5vw;
  height: 18.5vh;
}
