body {
  font-family: Arial, sans-serif;
  background-color: #000;
}

header {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: monospace;
}

.container {
  background-color: rgb(0, 0, 0);
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #393535;
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  border-radius: 5px;
  border: 1px solid #393535;
  margin-bottom: 20px;
  resize: none;
  color: #fff;
  background-color: #000;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

h4 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 25px;
  margin-top: 40px;
}

button {
  background: rgb(5, 139, 5);
  border: none;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(5, 139, 5);
  color: white;
}

.contactInfo-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactInfo-buttons button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 20px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  color: #fff;
  width: 20%;
  background-color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contactInfo-buttons button i {
  margin-bottom: 20px;
  font-size: 32px;
}

.contactInfo-buttons button:hover,
.contactInfo-buttons button:focus {
  background-color: rgb(5, 139, 5);
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  form {
    max-width: 800px;
    padding: 40px;
  }

  label {
    font-size: 20px;
  }
}
