  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.box {
    display: flex;
    position: relative;
    width: fit-content;
    height: 100%;
    background: #191919;
    border-radius: 8px;
    margin-bottom: 50px;
    margin-top: 100px;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    left: -10%;
    top: -10%;
    width: 70vh;
    height: 70vh;
    background: linear-gradient(0deg, transparent, #4aac3d, #4aac3d);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
}

.box::after {
    content: '';
    position: absolute;
    left: -10%;
    top: -10%;
    width: 70vh;
    height: 70vh;
    background: linear-gradient(0deg, transparent, #4aac3d, #4aac3d);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form {
    position: relative;
    align-items: center;
    justify-content: center;
    inset: 2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
    padding: 30px 40px;
    flex-wrap: wrap;
    flex-direction: column;
}

.form h2 {
    color: greenyellow;
    font-weight: 400;
    font-size: 2.5em;
    text-align: center;
}

input {
    color-scheme: dark;
  }
  

label {
    position: relative;
    color: greenyellow;
    font-size: 1.75em;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px 50px;
    margin-top: 5%;
    display: flex;
}

label:before {
    content: "";
    height: 10%;
    width: 10%;
    border: 2% solid greenyellow;
}

.links {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
}

A:link { 
    color:#ffffff;
    text-decoration: none; 
}

A:visited {
    color: #ffffff;
}

A:hover {
    color: greenyellow;
}

input[type="submit"] {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
    margin-top: 5px;
}

input[type="submit"]:hover {
    color: greenyellow;
}

.inputbox {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 60vh;
    margin-top: 5%;
}

.inputbox input {
    position: relative;
    width: 60vh;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 5px 5px;
    font-size: 1.5em;
    color: greenyellow;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
    color: greenyellow;
    transform: translateY(-8px);
    font-size: 1em;
}

.inputbox i {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    width: 60vh;
    height: 2px;
    background: #4aac3d;
}