* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

/* Header for the products page */
.products-header {
    text-align: center;
    background-color: rgb(8, 142, 8);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.products-header h1 {
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 22px;
}

/* Banner for products page */
.products-banner {
    background-color: black;
    background-image: url('../img/Product_Page_Image.png');
    background-repeat: no-repeat;
    background-position: 135px;
    background-size: 1250px;
    width: 100%;
    height: 400px;
}

.products-banner h1 {
    color: white;
    padding-top: 190px;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 28px;
}

.products-banner #men-label {
    padding-left: 600px;
}

.products-banner #women-label {
    padding-left: 200px;
}

/* Container for the products page */
.product-container {
    display: flex;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* Sidebar for the products page to filter out products */
.product-filter-sidebar {
    height: 100%;
    width: 20%;
    position: relative;
    left: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 15%;
    background-color: rgb(66, 66, 66);
    overflow-x: hidden;
    border: 2.5px solid white;
}

.product-filter-sidebar h2 {
    color: white;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.product-filter-sidebar .product-sidebar-subcategories {
    background-color: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Buttons to filter the categories */
.product-filter-sidebar .product-sidebar-subcategories .filter-buttons {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: rgb(66, 66, 66);
    border: 2px white solid;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
}

.product-filter-sidebar .product-sidebar-subcategories .filter-buttons:hover {
    background-color: white;
    color: rgb(66, 66, 66);
    transition-duration: 0.3s;
}

#size5-btn, #size6-btn, #size7-btn, #size8-btn, #size9-btn, #size10-btn {
    width: 100px;
}

.product-sidebar-subcategories {
    padding-left: 40px;
}

#fifty-to-hundred-pounds-btn, #hundred-to-twohundred-pounds-btn, #men-btn, #women-btn {
    width: 200px;
}

#men-btn, #women-btn {
    text-transform: uppercase;
}

.product-filter-sidebar .product-sidebar-categories {
    background-color: rgb(66, 66, 66);
    color: white;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

/* Section to display products */
.products {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 50px;
    background-color: whitesmoke;
    width: 80%;
    height: auto;
    float: right;
}

.products h1 {
    padding-bottom: 70px;
}

#view-all-heading {
    text-transform: uppercase;
    padding-left: 50px;
}

.product-cell {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 400px;
    padding: 10px;
    border-bottom: black solid 2px;
}

.product-img {
    width: 100%;
    height: 200px;
}

.product-img img {
    width: 100%;
    height: 200px;
}

.product-info {
    width: 100%;
}

.basket-btn {
    padding-left: 70px;
    padding-right: 50px;
}

.add-to-basket-btn {
    padding: 10px 0;
    color: black;
    outline: none;
    background-color: rgb(8, 142, 8);
    border: 2px solid black;
    width: 150px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 30px;
    font-weight: bold;
}

.add-to-basket-btn:hover {
    background-color: white;
    color: black;
    transition-duration: 0.3s;
}

div.top-picks {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.top-picks-heading {
    width: 100vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    flex-direction: row !important;
}

.top-picks-heading h1 {
    text-align: center;
    color: rgb(8, 142, 8);
    text-transform: uppercase;
    font-weight: bold;
}

#images-container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: auto;
    overflow: hidden;
    margin-top: 1.75vw;
}

div.top-pick-container {
    display: flex;
    flex-direction: column !important;
    width: 15vw;
    height: auto;
    overflow: hidden;
}

img.top-pick-container {
    display: flex;
    flex-direction: row !important;
    overflow: hidden;
}

h2.top-pick-container {
    display: flex;
    color: white;
    font-size: 1.5vw;
    margin-top: 0.4vw;
    margin-bottom: 0.375vw;
}

p.top-pick-container {
    color: white;
    font-size: 0.95vw;
}

#price {
    display: flex;
    color: white;
    text-decoration: solid;
    font-size: 1.55vw;
}