* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: fit-content;
}

/* Header for the products page */
div.products-header {
    width: 100vw;
    display: flex;
    background-color: rgb(8, 142, 8);
    padding-top: 2.25vh;
    padding-bottom: 2.25vh;
    justify-content: center;
}

h1.products-header {
    display: flex;
    font-size: 1.25vw;
    color: white;
}

/* Banner for products page */
.products-banner {
    display: flex;
    background-color: black;
    background-image: url('../img/Product_Page_Image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 65vw;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

#men-label {
    margin-top: 4vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

#women-label {
    margin-top: 4vw;
    margin-left: 5vw;
}

/* Container for the products page */
.product-container {
    display: flex;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* Sidebar for the products page to filter out products */
.product-filter-sidebar {
    height: 100%;
    width: 19vw;
    position: relative;
    left: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 15%;
    background-color: black;
    overflow-x: hidden;
    border: 2.5px solid white;
}

.product-filter-sidebar h2 {
    color: white;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2vw;
}

div.product-sidebar-categories h3 {
    font-size: 1.5vw;
    text-align: left;
}

.product-filter-sidebar .product-sidebar-subcategories {
    background-color: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Buttons to filter the categories */
.product-filter-sidebar .product-sidebar-subcategories .filter-buttons {
    padding-left: 0.5vw;
    padding-right: 1.5vw;
    color: white;
    background-color: rgb(8, 142, 8);
    border: 0.2vw white solid;
    font-weight: bold;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    cursor: pointer;
    font-size: 15px;
}

.product-filter-sidebar .product-sidebar-subcategories .filter-buttons:hover {
    background-color: white;
    color: black;
    transition-duration: 0.3s;
    box-shadow: 0 5px 25px rgb(8, 142, 8);
}

.product-sidebar-subcategories {
    padding-left: 40px;
}

.product-filter-sidebar .product-sidebar-categories {
    background-color: black;
    color: white;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

/* Section to display products */
div.products {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    width: 80vw;
    height: auto;
    float: right;
    justify-content: space-between;
}

div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    height: auto;
    margin-top: 3.5vw;
    flex-wrap: wrap;
}

.products h1 {
    padding-bottom: 70px;
}

#view-all-heading {
    text-transform: uppercase;
    padding-left: 50px;
}

div.product-cell {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 22.5vw;
    height: fit-content;
    justify-content: center;
    text-align: center;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border: 0.2vw solid black;
}

div.product-img {
    width: 15vw;
    height: 30vh;
    display: flex;
    justify-self: center;
    align-self: center;
}

img.product-img {
    display: flex;
    width: inherit;
    height: inherit;
    justify-self: center;
    align-self: center;
}

div.product-info {
    display: flex;
    width: fit-content;
    height: auto;
    flex-direction: column;
}

h2.product-info {
    display: flex;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 1.5vw;
}

p.product-info {
    display: flex;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 1.2vw;
}

#product-price {
    font-weight: bold;
}

/* Add To Basket Button div */
.basket-btn {
    padding-left: 70px;
    padding-right: 50px;
}

.add-to-basket-btn {
    padding: 10px 0;
    color: white;
    outline: none;
    background-color: rgb(8, 142, 8);
    border: 2px solid black;
    width: 150px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 30px;
    font-weight: bold;
}

.add-to-basket-btn:hover {
    background-color: white;
    color: black;
    transition-duration: 0.3s;
}

/* Our Top Picks Section */
div.top-picks {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.top-picks-heading {
    width: 100vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    flex-direction: row !important;
}

.top-picks-heading h1 {
    text-align: center;
    color: rgb(8, 142, 8);
    text-transform: uppercase;
    font-weight: bold;
}

#images-container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: auto;
    overflow: hidden;
    margin-top: 1.75vw;
}

div.top-pick-container {
    display: flex;
    flex-direction: column !important;
    width: 15vw;
    height: auto;
    overflow: hidden;
}

img.top-pick-container {
    display: flex;
    flex-direction: row !important;
    overflow: hidden;
    height: 30vh;
}

h2.top-pick-container {
    display: flex;
    color: white;
    font-size: 1.5vw;
    margin-top: 0.4vw;
    margin-bottom: 0.375vw;
}

p.top-pick-container {
    color: white;
    font-size: 0.95vw;
    margin-top: 0vw;
    margin-bottom: 0.25vw;
}

#price {
    display: flex;
    color: white;
    text-decoration: solid;
    font-size: 1.55vw;
}