* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.box {
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    background: #191919;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    line-height:0;
    margin-bottom: 10px;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    right: 50%;
    top: -10%;
    width: 100%;
    height: 95vh;
    background: linear-gradient(0deg, transparent, #4aac3d, #4aac3d);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    overflow: hidden;
}

.box::after {
    content: '';
    position: absolute;
    right: 50%;
    top: -10%;
    width: 100%;
    height: 95vh;
    background: linear-gradient(0deg, transparent, #4aac3d, #4aac3d);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;
    overflow: hidden;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form {
    position: relative;
    align-items: center;
    justify-content: center;
    inset: 2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
    padding: 30px 40px;
    line-height: normal;
}

.form h2 {
    color: greenyellow;
    font-weight: 500;
    font-size: 2.7em;
    text-align: center;
    padding: 20px 0px 10px;
}

input {
    color-scheme: dark;
  }

label {
    position: relative;
    color: greenyellow;
    font-size: 1.75em;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px 50px;
    margin-top: 5%;
    display: flex;
}

label:before {
    content: "";
    height: 10%;
    width: 10%;
    border: 2% solid greenyellow;
}

.links {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
}

input[type="submit"] {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-top: 5px;
}

.inputbox {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 60vh;
    margin-top: 10%;
}

.inputbox input {
    position: relative;
    width: 60vh;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5em;
    letter-spacing: 0.05em;
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 5px 5px;
    font-size: 1.5em;
    color: greenyellow;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
    color: greenyellow;
    transform: translateY(-8px);
    font-size: 1em;
}

.inputbox i {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    width: 60vh;
    height: 2px;
    background: greenyellow;
}

.error {
    color: #af4242;
    background-color: #fde8ec;
    padding: 10px;
    display: none;
}

.error.display-error {
    display: block;
    margin-bottom: 20px;
    transform: translateY(-20px);
}